:host {
  display: block;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

:host::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, rgba(183, 202, 237, 0.6), rgba(254, 254, 254, 0.6)),
              url('/assets/background/w2.jpg') no-repeat center center / cover;
  z-index: -1;
  filter: brightness(0.9);
}

.signup-container {
  max-width: 800px;
  margin: auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px); // Optional for glass effect
}

mat-form-field {
  background-color: #f5f9ff;
  border-radius: 4px;
}

button {
  font-weight: 600;
}

::ng-deep .success-snackbar {
  background-color: #4caf50;
  color: white;
  font-weight: 500;
}

::ng-deep .error-snackbar {
  background-color: #f44336;
  color: white;
  font-weight: 500;
}

::ng-deep .warn-snackbar {
  background-color: #e4b534;
  color: white;
  font-weight: 500;
}