<div class="vanta-container">
    <div class="body-container">
        <div class="background-container">
            <div class="overlay-content">
                <div class="name-text">
                    <h1>Mohammad Hasnain1</h1>
                </div>

                <p class="profession">Software Engineer</p>
                <p class="description">
                    Experienced in MEAN stack and Ionic development. Creating efficient and scalable solutions.
                </p>
                <button (click)="onClickViewJourney()">View My Journey</button>
            </div>
        </div>
    </div>
</div>