.vanta-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.body-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.background-container {
    text-align: center;
    color: white;
}

.overlay-content {
    // background: rgba(1, 0, 0, 0.6);
    // background: #ffffff;
    /* Semi-transparent overlay */
    padding: 20px;
    border-radius: 12px;
    display: inline-block;
}

.name-text h1 {
    line-height: 1.1;
    font-size: 3.0rem;
    font-weight: 500;
    margin-bottom: 250px;
    color: #ffffff;
}

.profession {
    font-size: 2rem;
    margin: 5px 0;
    font-weight: bold;
    color: #00aaff;
    margin-bottom: 30px;
}

.description {
    font-size: 1.2rem;
    margin: 15px 0;
}

button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}