// .body-container{
//     width: 100vw;
//     height: 100vh;
//     background: linear-gradient(to bottom, rgb(1, 1, 9), black);
// }

.background-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: url('../../assets/globe.gif') no-repeat center center/cover;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.overlay-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.overlay-content p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.overlay-content .description {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

.overlay-content button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.overlay-content button:hover {
    background-color: #0056b3;
}

.name-text {
    margin-bottom: 30vh;
}