<mat-toolbar class="sticky" color="primary">
    <!-- Left Logo -->
    <!-- <img src="../../assets/icons/portfolio.png" alt="Logo" class="logo" /> -->
    <!-- <img src="../../assets/icons/home_.png" alt="Logo" class="logo" /> -->
    <mat-icon class="cursor-pointer" (click)="onClickHome()">home</mat-icon>

    <!-- Menu Icon for Mobile View -->
    <button mat-icon-button class="mobile-menu-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Toolbar Title Spacer -->
    <span class="flex-spacer"></span>

    <!-- Right Menu Items for Larger Screens -->
    <div class="menu-items">
        <button mat-button (click)="scrollToSection('home')">Home</button>
        <button mat-button (click)="scrollToSection('projects')">Projects</button>

        <!-- About Menu with Hover -->
        <button mat-button [matMenuTriggerFor]="aboutMenu" matTooltip="About Me">
            About Me
        </button>
        <mat-menu #aboutMenu="matMenu" class="hover-menu">
            <button mat-menu-item (click)="scrollToSection('personal-info')">Info
                Info</button>
            <button mat-menu-item (click)="scrollToSection('education')">Education</button>
        </mat-menu>

        <button mat-button (click)="scrollToSection('education')">Resume</button>
        <button mat-button (click)="scrollToSection('contact')">Contact</button>
    </div>
</mat-toolbar>

<!-- Sidenav for Mobile View -->
<!-- <mat-sidenav-container class="sidenav-container"> -->
<mat-sidenav #sidenav mode="over" class="mobile-sidenav">
    <button mat-button class="menu-item" (click)="sidenav.close(); scrollToSection('home')">Home</button>
    <button mat-button class="menu-item" (click)="sidenav.close(); scrollToSection('projects')">Projects</button>

    <!-- About Menu Nested List -->
    <button mat-button class="menu-item" (click)="toggleAboutSubmenu(); scrollToSection('about-me')">About
        Me</button>
    <div *ngIf="aboutSubmenuOpen" class="nested-menu">
        <button mat-button class="nested-menu-item"
            (click)="sidenav.close(); scrollToSection('personal-info')">Info</button>
        <button mat-button class="nested-menu-item"
            (click)="sidenav.close(); scrollToSection('education')">Education</button>
        <!-- <button mat-button class="nested-menu-item"
            (click)="sidenav.close(); scrollToSection('project')">Project</button> -->
    </div>

    <button mat-button class="menu-item" (click)="sidenav.close(); scrollToSection('')">Resume</button>
    <button mat-button class="menu-item" (click)="sidenav.close(); scrollToSection('contact')">Contact</button>
</mat-sidenav>
<!-- </mat-sidenav-container> -->

<!-- Sections -->
<!-- <section id="home" class="section home-section"> -->
<section id="home" class="section home-section">
    <div class="intro-text">
        <p class="salutation">Hi there!, I'm</p>
        <p class="name">Mohammad Hasnain</p>
        <p class="designation">(Software Engineer) </p>

        <div class="spacer"></div>

        <p class="black">
            ⚡ Full Stack Developer (MEAN, Ionic, and .NET)
        </p>
        <p class="black">
            ⚡ Currently working as a Senior Software Engineer at <a href="https://peopletech.com/" target="_blank"
                style="color: yellow;">
                PeopleTech Group Pvt. Ltd.
            </a>
        </p>

        <div class="contact-icons">
            <a href="https://www.linkedin.com/in/mhasnain1727/" target="_blank">
                <mat-icon class="icon">linkedin</mat-icon>
            </a>
            <a href="mailto:mhasnain1727@gmail.com">
                <mat-icon class="icon">email</mat-icon>
            </a>
        </div>
    </div>
</section>

<section id="personal-info" class="section personal-info-section">
    <div class="container">
        <!-- Left Section: About Me -->
        <div class="about-me">
            <h2>About Me</h2>
            <p>
                Hi! I'm Mohammad Hasnain, a passionate Full Stack Developer specializing in MEAN stack, Ionic, and .NET.
                I thrive on creating scalable, efficient, and user-friendly applications.
            </p>
            <p>
                Currently, I’m working as a <span style="color: rgb(158, 158, 2); font-weight: bold;"> Senior Software
                    Engineer at PeopleTech Group Pvt. Ltd.</span>, where I’m
                responsible for
                designing and developing innovative software solutions.
            </p>
        </div>

        <!-- Right Section: Image -->
        <div class="profile-image">
            <img src="../../assets/p1.jpg" alt="Profile Image" />
        </div>
    </div>
</section>



<section id="projects" class="section projects-section">
    <div class="container">
        <div class="section-title">
            <p>Projects</p>
        </div>
    </div>
</section>

<!-- <section id="qualification" class="section qualification-section">
    <h2>Qualifications</h2>
    <p>Degree: Bachelors in Computer Science</p>
    <p>University: XYZ University</p>
</section> -->

<section id="education" class="section education-section">
    <div class="watermark"></div>
    <div class="container">
        <div class="section-title">
            <p>Education</p>
        </div>
        <div class="education-list">
            <div class="education-item">
                <div class="icon">
                    <mat-icon >school</mat-icon>
                </div>
                <div class="education-item-content">
                    <h3>Master of Computer Application | New Delhi</h3>
                    <p>Jamia Millia Islamia - 2022</p>
                </div>
            </div>
            <div class="education-item">
                <div class="icon">
                    <mat-icon >school</mat-icon>
                </div>
                <div class="education-item-content">
                    <h3>B.Sc. (Hons.) | Computer Applications | AMU Aligarh</h3>
                    <p>Aligarh Muslim University - 2020</p>
                </div>
            </div>
            <div class="education-item">
                <div class="icon">
                    <mat-icon >school</mat-icon>
                </div>
                <div class="education-item-content">
                    <h3>Senior Secondary School Certificate | AMU Aligarh</h3>
                    <p>Saiyyid Hamid Senior Secondary School - 2017</p>
                </div>
            </div>
            <div class="education-item">
                <div class="icon">
                    <mat-icon >school</mat-icon>
                </div>
                <div class="education-item-content">
                    <h3>Secondary School Certificate | AMU Aligarh</h3>
                    <p>Syedna Tahir Saifuddin High School (MINTO CIRCLE) - 2015</p>
                </div>
            </div>
        </div>
    </div>
    <h2></h2>
</section>

<section id="contact" class="section contact-section">
    <div class="container">
        <div class="section-title">
            <p>Contact Me</p>
        </div>
        <div class="section-subtitle">
            <p>I'm currently specializing in &nbsp; <span style="color: yellow;">Front-end Development (Angular)</span>.
            </p>
            <p>Feel free to get in touch for collaborations and talk more about your projects.</p>
        </div>

        <!-- Contact Details -->
        <div class="contact-details">
            <!-- Email -->
            <div class="contact-item">
                <button mat-fab extended matTooltip="Email" (click)="openLinks('mailto:mhasnain1727@gmail.com')">
                    <mat-icon>email</mat-icon>
                    mhasnain1727&#64;gmail.com
                </button>
            </div>
            <div class="contact-item">
                <button mat-fab extended matTooltip="Mobile No" (click)="openLinks('tel:+919058691727')">
                    <mat-icon>phone</mat-icon>
                    +91 90586 91727
                </button>
            </div>

            <!-- Location -->
            <div class="contact-item">
                <button mat-fab extended matTooltip="Address">
                    <mat-icon>location_on</mat-icon>
                    Aligarh, (U.P.), India.
                </button>
            </div>

        </div>

        <!-- Social Media -->
        <div class="social-links">
            <div class="contact-item">
                <button mat-fab extended matTooltip="GitHub"
                    (click)="openExternalLink('https://github.com/mhasnain1727')">
                    <mat-icon>code</mat-icon>
                    GitHub
                </button>
            </div>

            <div class="contact-item">
                <button mat-fab extended matTooltip="LinkedIn"
                    (click)="openExternalLink('https://linkedin.com/in/mhasnain1727')">
                    <mat-icon>linkedin</mat-icon>
                    LinkedIn
                </button>
            </div>

            <div class="contact-item">
                <button mat-fab extended matTooltip="Portfolio"
                    (click)="openExternalLink('https://hasnain-info.onrender.com')">
                    <mat-icon>web</mat-icon>
                    Portfolio
                </button>
            </div>
        </div>
    </div>


</section>


<footer class="footer">
    <div class="footer-content">
        <p>Designed and Developed by Mohammad Hasnain.</p>
    </div>
    <div class="footer-content-2">
        <p>Built with Angular & Material UI. Hosted on Render.</p>
    </div>
</footer>